.container{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .back-arrow-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;       
        mat-icon{
            font-size: 40px;
            width: 100%;
        }
    }
    mat-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        &.picture-card{
            background: rgb(2,0,36);
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(43,35,100,1) 50%, rgba(161,6,132,1) 100%);
            img{
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }
        &.info-profile-card{
            flex-direction: column;
            background: #272727;
            h5{
                font-size: 14px;
            }
        }

    }
}