<div class="container">
    <mat-card class="picture-card">
        <img src={{collaborator.picture.large}} alt="">
    </mat-card>
    <mat-card class="info-profile-card">
        <div>
            <h2>{{collaborator.name.first}} {{collaborator.name.last}}</h2>

        </div>
        <div>
            <h5>Edad: {{collaborator.registered.age}}</h5>
            <h5>Fecha de nacimiento: {{collaborator.registered.date}} </h5>
            <h5>Contacto: {{collaborator.phone}}</h5>
            <h5>Correo electrónico: {{collaborator.email}}</h5>
            <h5>Dirección: {{collaborator.location.street.name}} {{collaborator.location.street.number}}</h5>
            <h5></h5>
        </div>
    </mat-card>

</div>