<div class="container">
    <div class="back-arrow-container" routerLink="/home" routerLinkActive="active">
        <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <h6>Volver a lista</h6>
    </div>
    <mat-card class="picture-card col-sm-12 col-12">
        <img src={{collaborator.picture.large}} alt="">
    </mat-card>
    <mat-card class="info-profile-card col-sm-12 col-12">
        <div>
            <h2>{{collaborator.name.first}} {{collaborator.name.last}}</h2>

        </div>
        <div>
            <h5>Edad: {{collaborator.registered.age}}</h5>
            <h5>Fecha de nacimiento: {{collaborator.registered.date}} </h5>
            <h5>Contacto: {{collaborator.phone}}</h5>
            <h5>Correo electrónico: {{collaborator.email}}</h5>
            <h5>Dirección: {{collaborator.location.street.name}} {{collaborator.location.street.number}}</h5>
        </div>
    </mat-card>

</div>