.container{
    .title{
        padding: 2%;
        h3{
            font-family: 'Domine', serif;
            color: #572364;
            font-size: 40px;
        }
    }
    .table-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .filter-container{
            width: 70%;
            label{
                color: #572364;
            }
        }
        table{
            width: 70%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            th{
                background: #572364;
            }
            td{
                cursor: pointer;
            }
            .pic-td{
                 padding: 2% 3%;
                img{
                    border-radius: 50%;
                }
            }            
        }
        mat-paginator{
            width: 70%;
        }
    }
}