<div class="container-fluid">
    <div class="title">
        <h3>Colaboradores</h3>
    </div>
    <div class="table-container col-sm-12 col-12 col-md-8 offset-md-2">
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Buscar...</mat-label>
                <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="collaborators">
            <ng-container matColumnDef="picture">
                <mat-header-cell *matHeaderCellDef class="picture-col">Foto</mat-header-cell>
                <mat-cell class="pic-td picture-col" *matCellDef="let element; index as i" (click)="collaboratorDetail(i)">
                    <img src={{element.picture.thumbnail}} alt="">
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell class="name-col" *matCellDef="let element; index as i" (click)="collaboratorDetail(i)">{{element.name.first}} {{element.name.last}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Correo electrónico:</mat-header-cell>
                <mat-cell *matCellDef="let element; index as i" class="email-col" (click)="collaboratorDetail(i)">{{element.email}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
</div>